{
    "presets": [
        [
            "@babel/preset-env", //для компиляции не JS кода
            {
                "modules": false,
                "useBuiltIns": "entry",
                "corejs": "3.6"  //библиотека с поллифилами
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": ["react-hot-loader/babel"]
}